<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>displayTitle</key>
		<false/>
		<key>title</key>
		<string>用户</string>
		<key>value</key>
		<string>用户名:</string>
	</dict>
	<dict>
		<key>displayTitle</key>
		<true/>
		<key>title</key>
		<string>关于我们</string>
		<key>value</key>
		<string>        法艺花园，集法律数据与法律新闻于一体，电脑、平板、手机跨平台通用的法律查询系统。
        法艺花园，独创“法条重构”模式——拆解法规、专题重构，致力于提供法律人用得上、当事人看得懂的法律数据。
        法艺花园，由法艺科技联合多个律所进行数据维护，全力把中国庞大的成文法森林装点成一座法律花园。
            
官网：http://www.llgarden.com
微博：http://weibo.com/llgarden
微信：请搜索公众账号-“法艺花园”</string>
	</dict>
	<dict>
		<key>displayTitle</key>
		<false/>
		<key>title</key>
		<string>版本</string>
		<key>value</key>
		<string>版本: 1.0.9</string>
	</dict>
	<dict>
		<key>displayTitle</key>
		<false/>
		<key>title</key>
		<string></string>
		<key>value</key>
		<array>
			<string>检查更新</string>
			<string>登出</string>
		</array>
	</dict>
</array>
</plist>
